@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100;
    margin: 0;
  }
}


